@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

:root {
  --black: hsl(0, 0%, 13%);
  --white: hsl(0, 0%, 100%);
  --red: hsl(360, 67%, 44%);
  --grey: hsl(210, 22%, 49%);
  --pulm: hsl(294, 11%, 33%);
  --coral: hsl(356, 74%, 74%);
  --slate: hsl(210, 40%, 98%);
  --transition: all 300ms ease-in-out;
  --shadow:
    0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.05);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: var(--black);
  background: var(--slate);
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.button {
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
  background: transparent;
  border-radius: 4px;
  transition: 150ms ease-in-out;
  transition-property: background, color;
}

/* Flexbox */
.flex {
  display: flex;
}

.flex-ai-c {
  align-items: center;
}

.flex-jc-c {
  justify-content: center;
}

.flex-jc-sb {
  justify-content: space-between;
}

/* Grid */
.grid {
  display: grid;
}

.grid-pi-c {
  place-items: center;
}
