body {
  background: var(--pulm);
}

nav {
  padding-block: 16px;
  background: var(--white);
  box-shadow:
    0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 8px 10px -6px rgba(0, 0, 0, 0.05);
}

main {
  height: calc(100vh - 72px);
}

.logo {
  font-size: 18px;
  font-weight: 700;
  color: var(--pulm);
}

.headline {
  font-size: 42px;
  color: var(--white);
  padding: 10px 16px;
  margin-block-end: 36px;
  background: var(--black);
  border-radius: 4px;
}

.color {
  color: var(--coral);
}

.button {
  font-size: 16px;
  color: var(--black);
  border: 2px solid var(--black);
  padding: 0.75rem 1.25rem;
}

.button:hover {
  background: var(--black);
  color: white;
}
